<mat-grid-list cols="5" rowHeight="300px">
  <mat-grid-tile colspan="2">
    <div>
      <div class="market-bar-chart"></div>
      <div class="bar-chart-label">Value by Market Year</div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <div class="attribute-donut"></div>
      <div class="countries-donut"></div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <div>
      <div class="calendar-bar-chart"></div>
      <div class="bar-chart-label">Value by Calendar Year</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="mat-elevation-z2">
  <mat-table #table [dataSource]="juices" matSort>

    <ng-container matColumnDef="Commodity_Code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Commodity Code
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Commodity_Code}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Commodity_Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Commodity Description
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Commodity_Description}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Attribute_ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Attribute ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Attribute_ID}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Attribute_Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Attribute Description
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Attribute_Description}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Unit_ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Unit ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Unit_ID}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Unit_Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Unit Description
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Unit_Description}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Country_Code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Country Code
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Country_Code}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Country_Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Country
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.Country_Name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Value">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="numeric">
        Value
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="numeric">
        {{element.Value | currency:'GBP':'symbol-narrow':'1.2-2'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Month">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="numeric">
        Month
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="numeric">
        {{element.Month}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Market_Year">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="numeric">
        Market Year
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="numeric">
        {{element.Market_Year}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Calendar_Year">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="numeric">
        Calendar Year
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="numeric">
        {{element.Calendar_Year}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: getColumns();"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    [pageSize]="5"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 100]">
  </mat-paginator>
</div>

<app-spinner *ngIf="loading"></app-spinner>
