@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  background: #F8F8F8;
  font-family: sans-serif;
}

.mat-sort-header-container .mat-sort-header-arrow {
  margin: 3px 5px 0 6px;
}

.mat-sort-header-button {
  text-align: left;
}

.numeric,
.numeric .mat-sort-header-button {
  text-align: right;
}

.numeric .mat-sort-header-container {
  justify-content: flex-end;
}

.numeric .mat-sort-header-container .mat-sort-header-arrow {
  order: -1;
  margin: 3px 6px 5px 0;
}

.x-axis-group,
.y-axis-group {
  display: none;
}

.bar-chart-label {
  color: #AAAAAA;
  font-size: 10px;
  margin-top: -3px;
  text-align: center;
}
